[Unit]
Description=keystat capture service

[Service]
ExecStart=/usr/bin/keystat-service /var/lib/keystat/map

CapabilityBoundingSet=dac_override

CPUSchedulingPolicy=fifo
CPUSchedulingPriority=99
IOSchedulingClass=realtime
IOSchedulingPriority=0

StandardError=syslog

[Install]
WantedBy=multi-user.target
