[Unit]
Description=keystat capture service

[Service]
EnvironmentFile=/etc/default/keystat
ExecStart=/usr/bin/keystat-capture "${KEYSTAT_MAP}" "${KEYSTAT_DEV}"

User=keystat
Group=keystat
SupplementaryGroups=input

IOSchedulingClass=realtime
IOSchedulingPriority=0
CPUSchedulingPolicy=fifo
CPUSchedulingPriority=99

CapabilityBoundingSet=
PrivateTmp=true
PrivateNetwork=true
ProtectSystem=full
ProtectHome=true
NoNewPrivileges=true

StandardError=syslog

[Install]
WantedBy=multi-user.target
